# Python
__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info/
.eggs/
build/
dist/
wheels/
sdist/
*.manifest
*.spec

# Virtual environments
.venv/
venv/
env/
ENV/

# Test / coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Packaging / publish
*.tar.gz
*.whl
.pypirc

# Editors / OS
.idea/
.vscode/
*.swp
.DS_Store
